doctype html5
html
	head
		meta(charset='utf8')
		title #{pageTitle}
		link(rel="stylesheet", href="public/css/normalize.css")
		link(rel="stylesheet", href="public/css/style.css")
		link(rel="stylesheet", href="public/css/bootstrap.min.css")
		script(src="public/js/jquery-1.9.1.js")
		script(src="public/js/bootstrap.min.js")
		script(src="public/js/bootstrap-carousel.js")
		link(rel="stylesheet", href="public/css/monokai_sublime.css")
		script(src="public/js/highlight.pack.js")
		script hljs.initHighlightingOnLoad();
	body
		div.main 
			
			block content